nodered_data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98d8d62c2692c23d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    },
    {
        "id": "1652c8d18714e315",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "xchadb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "xchauser",
        "userFieldType": "str",
        "password": "xchapass",
        "passwordFieldType": "str"
    },
    {
        "id": "4326297c462472d6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Consulta Divisa",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "418658d728e7eff6",
                "d805c1a6e9b21b52",
                "34cff3e2bdd14cd6",
                "a4399ea8115f7e3d"
            ]
        ]
    },
    {
        "id": "418658d728e7eff6",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Frankfurter EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.frankfurter.dev/v2/rates?base=EUR&quotes=USD,CNY,JPY",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "ed3bedc5e428e8ed"
            ]
        ]
    },
    {
        "id": "d805c1a6e9b21b52",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fawaz EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "7e95932342862984"
            ]
        ]
    },
    {
        "id": "274e0faf4c25df54",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "Nodo join",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 300,
        "wires": [
            [
                "bf1c0dacef04f9e6"
            ]
        ]
    },
    {
        "id": "bf1c0dacef04f9e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "const data = msg.payload;\n\nconst rows = [];\n\nfunction addRow(source, base_currency, target_currency, rate) {\n    if (rate === undefined || rate === null || isNaN(Number(rate))) {\n        node.warn(`Dato no disponible: ${source} ${base_currency}->${target_currency}`);\n        return;\n    }\n\n    rows.push({\n        source: source,\n        base_currency: base_currency,\n        target_currency: target_currency,\n        rate: Number(rate)\n    });\n}\n\nfunction addAverage(target_currency) {\n    const validRows = rows.filter(row =>\n        row.target_currency === target_currency &&\n        row.source !== \"average\"\n    );\n\n    if (validRows.length === 0) {\n        node.warn(`No hay datos para calcular media de ${target_currency}`);\n        return;\n    }\n\n    const sum = validRows.reduce((total, row) => total + row.rate, 0);\n    const average = sum / validRows.length;\n\n    addRow(\"average\", \"EUR\", target_currency, average);\n}\n\n// ===== fxapi =====\naddRow(\"fxapi\", \"EUR\", \"EUR\", 1);\naddRow(\"fxapi\", \"EUR\", \"USD\", data.fxapi?.rates?.USD);\naddRow(\"fxapi\", \"EUR\", \"CNY\", data.fxapi?.rates?.CNY);\naddRow(\"fxapi\", \"EUR\", \"JPY\", data.fxapi?.rates?.JPY);\n\n\n// ===== Fawaz =====\n\naddRow(\"fawaz\", \"EUR\", \"EUR\", 1);\naddRow(\"fawaz\", \"EUR\", \"USD\", data.fawaz?.eur?.usd);\naddRow(\"fawaz\", \"EUR\", \"CNY\", data.fawaz?.eur?.cny);\naddRow(\"fawaz\", \"EUR\", \"JPY\", data.fawaz?.eur?.jpy);\n\n\n// ===== Frankfurter =====\n\nconst frankfurter = Array.isArray(data.frankfurter) ? data.frankfurter : [];\n\nconst frankfurterUSD = frankfurter.find(item => item.quote === \"USD\");\nconst frankfurterCNY = frankfurter.find(item => item.quote === \"CNY\");\nconst frankfurterJPY = frankfurter.find(item => item.quote === \"JPY\");\n\naddRow(\"frankfurter\", \"EUR\", \"EUR\", 1);\naddRow(\"frankfurter\", \"EUR\", \"USD\", frankfurterUSD?.rate);\naddRow(\"frankfurter\", \"EUR\", \"CNY\", frankfurterCNY?.rate);\naddRow(\"frankfurter\", \"EUR\", \"JPY\", frankfurterJPY?.rate);\n\n// ===== ExchangeRate Open =====\n\naddRow(\"exchangerate\", \"EUR\", \"EUR\", data.exchangerate?.rates?.EUR);\naddRow(\"exchangerate\", \"EUR\", \"USD\", data.exchangerate?.rates?.USD);\naddRow(\"exchangerate\", \"EUR\", \"CNY\", data.exchangerate?.rates?.CNY);\naddRow(\"exchangerate\", \"EUR\", \"JPY\", data.exchangerate?.rates?.JPY);\n\naddAverage(\"EUR\");\naddAverage(\"USD\");\naddAverage(\"CNY\");\naddAverage(\"JPY\");\n\nif (rows.length === 0) {\n    node.error(\"No hay datos para insertar\", msg);\n    return null;\n}\n\nconst placeholders = [];\nconst params = [];\n\nfor (let i = 0; i < rows.length; i++) {\n    const baseIndex = i * 4;\n\n    placeholders.push(\n        `($${baseIndex + 1}, $${baseIndex + 2}, $${baseIndex + 3}, $${baseIndex + 4})`\n    );\n\n    params.push(\n        rows[i].source,\n        rows[i].base_currency,\n        rows[i].target_currency,\n        rows[i].rate\n    );\n}\n\nmsg.query = `\nINSERT INTO exchange_rates\n(source, base_currency, target_currency, rate)\nVALUES\n${placeholders.join(\",\\n\")}\n`;\n\nmsg.params = params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "5d769f6cc219cf67"
            ]
        ]
    },
    {
        "id": "34cff3e2bdd14cd6",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "ExchangeRate EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://open.er-api.com/v6/latest/EUR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "07fefe67d5c28188"
            ]
        ]
    },
    {
        "id": "a4399ea8115f7e3d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "fxapi  EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://fxapi.app/api/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "ce83c040452a6487"
            ]
        ]
    },
    {
        "id": "07fefe67d5c28188",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic exchangerate",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "exchangerate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "ed3bedc5e428e8ed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic frankfurter",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "frankfurter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "7e95932342862984",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic fawaz",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fawaz",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "ce83c040452a6487",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic fxapi",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fxapi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "796fcc67a8b6fd53",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debugging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d769f6cc219cf67",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "PostgreSQL db",
        "query": "",
        "postgreSQLConfig": "1652c8d18714e315",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "796fcc67a8b6fd53"
            ]
        ]
    }
]