nodered_data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98d8d62c2692c23d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    },
    {
        "id": "1652c8d18714e315",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "xchadb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "xchauser",
        "userFieldType": "str",
        "password": "xchapass",
        "passwordFieldType": "str"
    },
    {
        "id": "4326297c462472d6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Consulta Divisa",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "418658d728e7eff6",
                "d805c1a6e9b21b52",
                "34cff3e2bdd14cd6",
                "a4399ea8115f7e3d"
            ]
        ]
    },
    {
        "id": "418658d728e7eff6",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Frankfurter EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.frankfurter.dev/v2/rates?base=EUR&quotes=USD,CNY,JPY",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "ed3bedc5e428e8ed"
            ]
        ]
    },
    {
        "id": "d805c1a6e9b21b52",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Fawaz EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "7e95932342862984"
            ]
        ]
    },
    {
        "id": "274e0faf4c25df54",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "Nodo join",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 300,
        "wires": [
            [
                "bf1c0dacef04f9e6"
            ]
        ]
    },
    {
        "id": "bf1c0dacef04f9e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "const data = msg.payload;\n\nconst rows = [];\n\n// ===== fxapi =====\nrows.push({\n    source: \"fxapi\",\n    base_currency: \"EUR\",\n    target_currency: \"EUR\",\n    rate: 1\n});\n\nrows.push({\n    source: \"fxapi\",\n    base_currency: \"EUR\",\n    target_currency: \"USD\",\n    rate: data.fxapi.rates.USD\n});\n\nrows.push({\n    source: \"fxapi\",\n    base_currency: \"EUR\",\n    target_currency: \"CNY\",\n    rate: data.fxapi.rates.CNY\n});\n\nrows.push({\n    source: \"fxapi\",\n    base_currency: \"EUR\",\n    target_currency: \"JPY\",\n    rate: data.fxapi.rates.JPY\n});\n\n\n// ===== Fawaz =====\n\nrows.push({\n    source: \"fawaz\",\n    base_currency: \"EUR\",\n    target_currency: \"EUR\",\n    rate: 1\n});\n\nrows.push({\n    source: \"fawaz\",\n    base_currency: \"EUR\",\n    target_currency: \"USD\",\n    rate: data.fawaz.eur.usd\n});\n\nrows.push({\n    source: \"fawaz\",\n    base_currency: \"EUR\",\n    target_currency: \"CNY\",\n    rate: data.fawaz.eur.cny\n});\n\nrows.push({\n    source: \"fawaz\",\n    base_currency: \"EUR\",\n    target_currency: \"JPY\",\n    rate: data.fawaz.eur.jpy\n});\n\n\n// ===== Frankfurter =====\n\nconst frankfurterUSD = data.frankfurter.find(item => item.quote === \"USD\");\nconst frankfurterCNY = data.frankfurter.find(item => item.quote === \"CNY\");\nconst frankfurterJPY = data.frankfurter.find(item => item.quote === \"JPY\");\n\nrows.push({\n    source: \"frankfurter\",\n    base_currency: \"EUR\",\n    target_currency: \"EUR\",\n    rate: 1\n});\n\nrows.push({\n    source: \"frankfurter\",\n    base_currency: \"EUR\",\n    target_currency: \"USD\",\n    rate: frankfurterUSD.rate\n});\n\nrows.push({\n    source: \"frankfurter\",\n    base_currency: \"EUR\",\n    target_currency: \"CNY\",\n    rate: frankfurterCNY.rate\n});\n\nrows.push({\n    source: \"frankfurter\",\n    base_currency: \"EUR\",\n    target_currency: \"JPY\",\n    rate: frankfurterJPY.rate\n});\n\n// ===== ExchangeRate Open =====\n\nrows.push({\n    source: \"exchangerate\",\n    base_currency: \"EUR\",\n    target_currency: \"EUR\",\n    rate: data.exchangerate.rates.EUR\n});\n\nrows.push({\n    source: \"exchangerate\",\n    base_currency: \"EUR\",\n    target_currency: \"USD\",\n    rate: data.exchangerate.rates.USD\n});\n\nrows.push({\n    source: \"exchangerate\",\n    base_currency: \"EUR\",\n    target_currency: \"CNY\",\n    rate: data.exchangerate.rates.CNY\n});\n\nrows.push({\n    source: \"exchangerate\",\n    base_currency: \"EUR\",\n    target_currency: \"JPY\",\n    rate: data.exchangerate.rates.JPY\n});\n\n\nmsg.query = `\nINSERT INTO exchange_rates\n(source, base_currency, target_currency, rate)\nVALUES\n($1, $2, $3, $4),\n($5, $6, $7, $8),\n($9, $10, $11, $12),\n($13, $14, $15, $16),\n($17, $18, $19, $20),\n($21, $22, $23, $24),\n($25, $26, $27, $28),\n($29, $30, $31, $32),\n($33, $34, $35, $36),\n($37, $38, $39, $40),\n($41, $42, $43, $44),\n($45, $46, $47, $48),\n($49, $50, $51, $52),\n($53, $54, $55, $56),\n($57, $58, $59, $60),\n($61, $62, $63, $64)\n`;\n\nmsg.params = [\n    rows[0].source, rows[0].base_currency, rows[0].target_currency, rows[0].rate,\n    rows[1].source, rows[1].base_currency, rows[1].target_currency, rows[1].rate,\n    rows[2].source, rows[2].base_currency, rows[2].target_currency, rows[2].rate,\n    rows[3].source, rows[3].base_currency, rows[3].target_currency, rows[3].rate,\n\n    rows[4].source, rows[4].base_currency, rows[4].target_currency, rows[4].rate,\n    rows[5].source, rows[5].base_currency, rows[5].target_currency, rows[5].rate,\n    rows[6].source, rows[6].base_currency, rows[6].target_currency, rows[6].rate,\n    rows[7].source, rows[7].base_currency, rows[7].target_currency, rows[7].rate,\n\n    rows[8].source, rows[8].base_currency, rows[8].target_currency, rows[8].rate,\n    rows[9].source, rows[9].base_currency, rows[9].target_currency, rows[9].rate,\n    rows[10].source, rows[10].base_currency, rows[10].target_currency, rows[10].rate,\n    rows[11].source, rows[11].base_currency, rows[11].target_currency, rows[11].rate,\n\n    rows[12].source, rows[12].base_currency, rows[12].target_currency, rows[12].rate,\n    rows[13].source, rows[13].base_currency, rows[13].target_currency, rows[13].rate,\n    rows[14].source, rows[14].base_currency, rows[14].target_currency, rows[14].rate,\n    rows[15].source, rows[15].base_currency, rows[15].target_currency, rows[15].rate\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "5d769f6cc219cf67"
            ]
        ]
    },
    {
        "id": "34cff3e2bdd14cd6",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "ExchangeRate EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://open.er-api.com/v6/latest/EUR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "07fefe67d5c28188"
            ]
        ]
    },
    {
        "id": "a4399ea8115f7e3d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "fxapi  EUR",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://fxapi.app/api/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "ce83c040452a6487"
            ]
        ]
    },
    {
        "id": "07fefe67d5c28188",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic exchangerate",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "exchangerate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "ed3bedc5e428e8ed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic frankfurter",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "frankfurter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "7e95932342862984",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic fawaz",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fawaz",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "ce83c040452a6487",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Name: topic fxapi",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "fxapi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "274e0faf4c25df54"
            ]
        ]
    },
    {
        "id": "796fcc67a8b6fd53",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debugging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d769f6cc219cf67",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "PostgreSQL db",
        "query": "",
        "postgreSQLConfig": "1652c8d18714e315",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "796fcc67a8b6fd53"
            ]
        ]
    }
]